<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" type="text/css" href="{{_res_path}}/genshin/roleAll/roleAll.css?v=1.0" />
    <link rel="preload" href="{{_res_path}}/font/tttgbnumber.ttf" as="font">
    <link rel="preload" href="{{_res_path}}/genshin/roleAll/namecard/{{bg}}.png" as="image">
    <link rel="preload" href="{{_res_path}}/genshin/life/bg5.png" as="image">
    <link rel="preload" href="{{_res_path}}/genshin/life/bg4.png" as="image">
    <link rel="preload" href="{{_res_path}}/genshin/life/bg105.png" as="image">
    <link rel="preload" href="{{_res_path}}/genshin/abyss/bg.png" as="image">
  </head>
  <body>
    <style>
      .head_box {
        background: url({{_res_path}}/genshin/roleAll/namecard/{{bg}}.png) #f5f5f5;
        background-position-x: 30px;
        background-repeat: no-repeat;
        border-radius: 15px;
        font-family: tttgbnumber;
        padding: 10px 20px;
        position: relative;
        background-size: auto 101%;
      }
    </style>
    <div class="container" id="container">
      <div class="head_box">
        <div class="id_text">ID: {{uid}}</div>
        <div class="day_text">{{activeDay}}</div>
        <img class="genshin_logo" src="{{_res_path}}/genshin/roleAll/原神.png" />
      </div>
      <div class="data_box">
        <div class="tab_lable">数据总览</div>
        {{each line val}}
        <div class="data_line">
          {{each val item}}
          <div class="data_line_item">
            <div class="num">{{item.num}}</div>
            <div class="lable">{{item.lable}}</div>
          </div>
          {{/each}}
        </div>
        {{/each}}
      </div>
      {{if avatars.length>0}}
      <div class="avatars_box">
        <div class="tab_lable">我的角色</div>
        {{each avatars val}}
        <div class="item">
          <div class="role_box">
            {{ if val.actived_constellation_num>0}}
            <span class="life life{{val.actived_constellation_num}}"> {{val.actived_constellation_num}}命</span>
            {{/if}}
            <div class="bg{{val.rarity}}"></div>
            <img class="role_img" src="{{_res_path}}/genshin/logo/role/{{val.name}}{{val.costumesLogo}}.png" onerror="whenError(this)" />
            <div class="desc">Lv.{{val.level}} ❤{{val.fetter}}</div>
          </div>
          <div class="text_box">
            <div class="weapon_box">
              <div class="weapon_boder">
                <img class="weapon_img" src="{{_res_path}}/genshin/logo/weapon/{{val.weapon.name}}.png" />
              </div>
            </div>
            <div class="weapon_name_box">
              <div class="weapon_name">{{val.weapon.showName}}</div>
              <div class="weapon_level">
                Lv.{{val.weapon.level}}{{ if val.weapon.affix_level>1}}<span class="weapon_affix">{{val.weapon.affix_level}}</span>{{/if}}
              </div>
            </div>
          </div>
        </div>

        {{/each}}
      </div>
      {{/if}} {{if abyss.time}}
      <div class="abyss_box">
        <div class="row">
          <div class="item">
            <div>ID：{{uid}}</div>
            <div>时间：{{abyss.time}}</div>
          </div>
          <div class="item">
            <div>最深抵达：{{abyss.max_floor}}</div>
            <div>星数：{{abyss.total_star}}</div>
          </div>
        </div>
        <div class="role">
          <div class="title">出战角色</div>
          <div class="list">
            {{each abyss.list val}}
            <div class="item">
              {{ if val.life>0}}
              <span class="life life{{val.life}}">{{val.life}}命</span>
              {{/if}}
              <img
                class="role_img bg{{val.rarity}}"
                src="{{_res_path}}/genshin/logo/role/{{val.name}}.png"
                onerror="whenError(this)"
              />
              <div class="desc">{{val.value}}次</div>
              <img class="fill_img" src="{{_res_path}}/genshin/life/fill.png" />
            </div>
            {{/each}}
          </div>
        </div>
        <div class="detail">
          <div class="title">战斗数据</div>
          <div class="row">
            <div class="item">战斗次数：{{abyss.total_battle_times}}次</div>
            <div class="item">
              最多击破：{{abyss.defeat.num}}
              <img
                src="{{_res_path}}/genshin/logo/side/{{abyss.defeat.name}}.png"
                class="line-icon two_img"
                onerror="whenError(this,'side')"
              />
            </div>
          </div>
          <div class="row two">
            <div class="item">
              承受伤害：{{abyss.take_damage.num}}<img
                src="{{_res_path}}/genshin/logo/side/{{abyss.take_damage.name}}.png"
                class="line-icon"
                onerror="whenError(this,'side')"
              />
            </div>
            <div class="item">
              元素战技：{{abyss.normal_skill.num}}<img
                src="{{_res_path}}/genshin/logo/side/{{abyss.normal_skill.name}}.png"
                class="line-icon two_img"
                onerror="whenError(this,'side')"
              />
            </div>
          </div>
          <div class="row">
            <div class="item">
              最强一击：{{abyss.damage.num}}<img
                src="{{_res_path}}/genshin/logo/side/{{abyss.damage.name}}.png"
                class="line-icon"
                onerror="whenError(this,'side')"
              />
            </div>
            <div class="item">
              元素爆发：{{abyss.energy_skill.num}}<img
                src="{{_res_path}}/genshin/logo/side/{{abyss.energy_skill.name}}.png"
                class="line-icon two_img"
                onerror="whenError(this,'side')"
              />
            </div>
          </div>
        </div>
      </div>
      {{/if}}
      {{if msg}}
      <div class="bottom-msg">{{msg}}</div>
      {{/if}}
      <div class="logo">Created By Yunzai-Bot</div>
    </div>
  </body>
  <script type="text/javascript">
    function whenError(a,type) {
      // if(!type){
      //   type = "role"
      // }
      // a.onerror = null;
      // a.src = "{{_res_path}}/genshin/logo/"+type+"/荧.png";
    }
  </script>
</html>
