<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" type="text/css" href="../../../../resources/genshin/dailyNote/dailyNote.css?v=1.0" />
  </head>
  <body>
    <div class="container" id="container">
      <div class="title">
        <div class="id">
          <span>ID：{{uid}}</span>
        </div>
        <div class="day">
          <span>{{day}}</span>
        </div>
      </div>
      <div class="item">
        <div class="main">
          <div class="bg"></div>
          <img class="icon" src="../../../../resources/genshin/dailyNote/items/树脂.png" />
          <div class="info">
            <div class="name">原粹树脂</div>
            <div class="time">将于{{resinMaxTime}} 全部恢复</div>
          </div>
        </div>
        <div class="right">
          <span>{{current_resin}}/{{max_resin}}</span>
        </div>
      </div>
      <div class="item">
        <div class="main">
          <div class="bg"></div>
          <img class="icon" src="../../../../resources/genshin/dailyNote/items/委托.png" />
          <div class="info">
            <div class="name">每日委托任务</div>
            <div class="time">今日委托奖励{{if is_extra_task_reward_received==1}}已{{else}}未{{/if}}领取</div>
          </div>
        </div>
        <div class="right">
          <span>{{finished_task_num}}/{{total_task_num}}</span>
        </div>
      </div>
      <div class="item">
        <div class="main">
          <div class="bg"></div>
          <img class="icon" src="../../../../resources/genshin/dailyNote/items/派遣.png" />
          <div class="info">
            <div class="name">探索派遣</div>
            <div class="time">
              {{if !expeditions || expeditions.length<=0}}尚未进行派遣
              {{else if remained_time}}将于{{remained_time}} 完成
              {{else}}}派遣已完成{{/if}}
            </div>
          </div>
        </div>
        <div class="right">
          <span>{{current_expedition_num}}/{{max_expedition_num}}</span>
        </div>
      </div>
      <div class="item">
        <div class="main">
          <div class="bg"></div>
          <img class="icon" src="../../../../resources/genshin/dailyNote/items/周本.png" />
          <div class="info">
            <div class="name">值得铭记的强敌</div>
            <div class="time">
              {{if remain_resin_discount_num<=0}}周本已完成
              {{else}}周本树脂减半次数已用{{/if}}
            </div>
          </div>
        </div>
        <div class="right">
          <span>{{3-remain_resin_discount_num}}/{{resin_discount_num_limit}}</span>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript"></script>
</html>
