<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
  <link rel="shortcut icon" href="#"/>
  <link rel="stylesheet" type="text/css" href="{{_res_path}}/genshin/talentList/talentList.css?v=1.0"/>
  <script type="text/javascript">
    function whenError(a, type) {
      a.onerror = null;
      a.src = "{{_res_path}}/genshin/logo/side/荧.png";
    }
  </script>
</head>
<body id="container" class="body_box">
<div class="container {{displayMode}}_mode">
  <div class="info_box">
    <div class="head_box type{{bgType}}">
      <div class="id_text">
        ID: {{uid}}
      </div>
      <div class="lable">共{{avatars.length }}名角色</div>
      <img class="genshin_logo" src="{{_res_path}}/genshin/roleAll/原神.png"/>
    </div>

    <div class="data_box">
      <div class="tab_lable for_talent">角色技能列表</div>
      <div class="tab_lable for_weapon">角色详情列表</div>
      <div class="talent_list">
        <div class="avatar th">
          <div class="index">#</div>
          <div class="name">
            角色
          </div>
          <div class="lvl">等级</div>
          <div class="fetter">好感</div>
          <div class="cons">命座</div>
          <div class="weapon for_weapon">武器</div>
          <div class="talent_res for_talent">天赋素材(周)</div>
          <div class="talent">普攻</div>
          <div class="talent">技能</div>
          <div class="talent">爆发</div>
        </div>
        {{each avatars avatar idx}}
        <div class="avatar">
          <div class="index">{{idx}}</div>
          <div class="name">
            <img src="{{_res_path}}genshin/logo/side/{{avatar.name}}.png" onerror="whenError(this)"/>
            {{abbr[avatar.name] || avatar.name}}
          </div>
          <div class="lvl">{{avatar.level}}</div>
          <div class="fetter">{{avatar.fetter}}</div>
          <div class="cons"><span class="life{{avatar.cons}}">{{avatar.cons}}</span></div>
          <div class="weapon for_weapon">
            {{if avatar.weapon}}
              <img src="{{_res_path}}genshin/logo/weapon/{{avatar.weapon.name}}.png"/>
            Lv{{avatar.weapon.level}}精{{avatar.weapon.affix_level}} {{abbr[avatar.weapon.name] || avatar.weapon.name}}
            {{/if}}
          </div>
          <div class="talent_res for_talent">
            {{if avatar.talent}}
            <img src="{{_res_path}}genshin/logo/talent/{{avatar.talent}}_4.png"/>
            {{avatar.talent}}({{avatar.talentWeek}})
            {{else}}
            -
            {{/if}}
          </div>
          <div class="talent lv{{avatar.a_lvl}}">{{avatar.a}}</div>
          <div class="talent lv{{avatar.e_lvl}} {{avatar.e_plus ? 'talent_plus':''}}">{{avatar.e}}</div>
          <div class="talent lv{{avatar.q_lvl}} {{avatar.q_plus ? 'talent_plus':''}}">{{avatar.q}}</div>
        </div>
        {{/each}}
      </div>
      <p class="talent_notice">技能列表每2小时更新一次</p>
    </div>
    <div class="logo"> Create By Yuanzai-Bot</div>
  </div>
</div>

</body>
</html>