@font-face {
  font-family: 'tttgbnumber';
  src: url("../../font/tttgbnumber.ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

body {
  position: absolute;
  transform: scale(0.5);
  transform-origin: 0 0;
}

.background {
  position: absolute;
}
.container {
  width: 1286px;
  height: 670px;
  background-image: url(./items/background.jpg);
}
.bg-info {
  position: fixed;
  top: 8px;
  left: 60px;
  font-size: 46px;
  color: rgb(255, 255, 255);
  z-index: 9999;
  background-color: rgba(5, 5, 5, 0.3);
  padding: 8px 10px;
  border-radius: 5px;
  max-width: 400px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.bg-info-more {
  position: fixed;
  top: 85px;
  left: 60px;
  font-size: 46px;
  color: rgb(255, 255, 255);
  z-index: 9999;
  background-color: rgba(5, 5, 5, 0.3);
  padding: 8px 10px;
  border-radius: 5px;
}
.bg-upType{
  position: fixed;
  top: 8px;
  right: 60px;
  font-size: 46px;
  color: rgb(255, 255, 255);
  z-index: 9999;
  background-color: rgba(5, 5, 5, 0.3);
  padding: 8px 10px;
  border-radius: 5px;
}
.gacha-box {
  position: relative;
  display: inline-flex;
  top: 24px;
}

.gacha-box:first-child {
  margin-left: 60px;
}

.element .star-background {
  position: relative;
  width: 112px;
}

.element .star-image {
  display: flex;
  position: relative;
  z-index: 1;
  width: 82px;
  left: 15px;
  top: -202px;
}

.element .weapon-image {
  position: absolute;
  width: 112px;
  top: 150px;
  z-index: 101;
}

.element .weapon-image-shadow {
  position: relative;
  width: 112px;
  top: -553px;
  left: 3px;
  filter: brightness(0%);
  opacity: 0.72;
  z-index: 100;
}

.type-image {
  position: absolute;
  width: 65px;
  left: 23px;
  top: 412px;
  z-index: 102;
}

.element .weapon-name {
  position: absolute;
  color: rgb(242, 242, 242);
  width: 112px;
  top: 434px;
  text-align: center;
  font-size: 15px;
}

.element .character-image {
  position: absolute;
  display: inline-block;
  margin: 0 3px;
  width: 106px;
  bottom: 129px;
}

.times {
  position: absolute;
  z-index: 9999;
  /*width: 85px;*/
  text-align: center;
  font-size: 26px;
  left: 2px;
  top: 380px;
  color: rgb(255, 255, 255);
  padding: 2px 0;
  background-color: rgba(5, 5, 5, 0.5);
  border-radius: 5px;
}

.logo{
  position: absolute;
  right: 30px;
  bottom: 15px;
  color: rgb(157 189 237 / 75%);
  font-size: 24px;
  font-family: 'tttgbnumber';
}